.personal-card {
  width: 800px;
  aspect-ratio: 2 /  1;
  padding: 20px;
  align-self: center;
  background: linear-gradient(135deg, var(--md-sys-color-inverse-primary) 0%, var(--md-sys-color-shadow) 100%);
  color: var(--md-sys-color-on-primary-container);
  border-radius: 10px;
  box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
 .personal-card img{
    width: 300px;
    border-radius: 10px;
    object-fit: cover;
    align-self: flex-start;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

 }
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.card-title {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  letter-spacing: 2px;
}

.card-content p {
  margin: 10px 0;
  font-size: 1rem;
}

.card-content a {
  color: #f0e68c;
  text-decoration: none;
  transition: color 0.2s ease;
}

.card-content a:hover {
  color: #fff;
}
